<div class="row inner contact">
    <div class="col-md-6">
    <h4>{{pageObj.formTitle}}</h4>
    <br />
        <div class="contact-form">
            <div class="row">

                <form name="form">

                    <div class="col-xs-6">
                        <div class="form-group customFields" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
                            <!-- <label for="usr">Title</label> -->
                            <input type="text" name="title" class="form-control" ng-model="category.title" placeholder="Category Title" required autofocus>
                        </div>
                        <div class="form-group customFields" ng-class="{ 'has-error': form.url.$dirty && form.url.$error.required }">
                            <!-- <label for="usr">Url</label> -->
                            <input type="text" name="url" class="form-control" ng-model="category.url" placeholder="Category URL" required autofocus>
                        </div>
                        <div class="form-group customFields" ng-class="{ 'has-error': form.order.$dirty && form.order.$error.required }">
                            <!-- <label for="usr">Order</label> -->
                            <input type="number" name="order" min="0" class="form-control" ng-model="category.order" placeholder="Category Order" required autofocus>
                        </div>
                        <div class="form-group customFields">
                            <button ng-hide="pageObj.ind || pageObj.ind===0" type="submit" class="btn btn-success" name="submit" ng-click="saveCategory(category)" ng-disabled="form.$invalid">Save Category</button>
                            <button ng-show="pageObj.ind || pageObj.ind===0" type="submit" class="btn btn-success" name="submit" ng-click="updateCategory(category)" ng-disabled="form.$invalid">Update Category</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group customFields" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                            <textarea class="form-control" name="description" rows="10" ng-model="category.description" placeholder="Category Description" required autofocus></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div><!-- End Contact Form Area -->
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
    <h4>Categories</h4>
    <br />
    <categories-list></categories-list>
    </div>
</div><!-- End Inner -->
